<footer class="text-center text-white" style="background-color: white; ">
    <!-- Grid container -->
    <div class="container pt-4 text-black-50" >
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4>Siga-nos nas redes sociais</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

          <ul class="social-network">
            <li>
              <a href="https://web.facebook.com/allan.baad/" target="_blank" class="icoFacebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://www.instagram.com/ballanm19/" target="_blank" class="icoInstagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://github.com/dev-ballan" target="_blank" class="icoGithub">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a href="https://www.linkedin.com/in/baadallan/" target="_blank" class="icoLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

  
    <!-- Copyright -->
    <div class="text-center text-white p-3" id="bgcor">
      © 2022 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Todos os direitos reservados à Allan Baad.</a>
    </div>
    <!-- Copyright -->
  </footer>