<nav class="navbar navbar-expand-lg navbar-light bg-light" id="bgcor">
    <!-- icone do blog no home
    <i class="fa fa-rss-square" aria-hidden="true"></i> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        <li class="nav-item active">
          <img src="https://i.imgur.com/NvTYLT5.jpg?1" alt="\imagem do User" height="50px" width="50px" class="img-fluid rounded-circle">
          <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
        </li>
        <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Nome do usuário</p>
        </li>

        <li class="nav-item pl-3">
          <a href="">
            <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" 
            aria-hidden="true"></i></p>
          </a>
        </li>
      </ul>
        
      <ul class="navbar-nav ml-auto d-flex align-items-center">
          <li class="nav-item pl-3">
            <a class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
          </li>
      </ul>

        <!--<ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
          
        </ul>

       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      
    </div>
  </nav>